// Google font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Sans+Pro:wght@300;400&display=swap');

// VARIABLES
//colors
$body-bg-color: #121212;
$box-bg-color: #1d1d1d;
$box-hover-bg-color: #3c4042;
$box-active-bg-color: #54585a;
$border-color: #30363d;

$main-accent-color: #FF7F50;
$secondary-accent-color: #5F9EA0;

$main-text-color: #fff;
$secondary-text-color: #9e9e9e;

//sizes
$blank-space: 20px;
$border-radius: 20px;

//fonts
$title-font: 'Montserrat', sans-serif;
$plain-text-font: 'Source Sans Pro', sans-serif;

// Reset css
*, *::before, *::after{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd{
    margin: 0;
	padding: 0;
	font-family: $plain-text-font;
	color: $main-text-color;
}

h1, h2, h3, h4{
	font-family: $title-font;
	font-weight: 500;
}

ul, ol{
    list-style-type: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
	background-color: $body-bg-color;
}

img, picture {
	max-width: 100%;
	display: block;
}

input, button, textarea, select {
    font: inherit;

    &:hover{
        cursor: pointer;
    }
}

button{
	font-weight: 400;
	font-family: $plain-text-font;
	color: $main-text-color;
}

a{
	text-decoration: none;
	color: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
	 scroll-behavior: auto;
	}
	
	*, *::before, *::after {
	  animation-duration: 0.01ms !important;
	  animation-iteration-count: 1 !important;
	  transition-duration: 0.01ms !important;
	  scroll-behavior: auto !important;
	}
}

// Css content

.menubar{
	width: 100%;
	display: flex;
	flex-direction: row;
	background-color: $box-bg-color;
	padding: 5px;
	border-bottom: 1px solid $border-color;

	#menubar-title{
		margin-right: 20px;
		align-self: flex-end;
		display: none;
	}

	button{
		margin: 0;
		padding: 0 10px;
		border: 0;
		background-color: transparent;
		color: $secondary-text-color;
		border-radius: 5px;

		&:hover{
			background-color: $box-hover-bg-color;
			color: $main-text-color;
			
		}
	}
}

.menubar-links{
	ul{
		display: flex;
		flex-direction: row;
		list-style-type: none;

		li{
			float: none;
			width: 100%;
			text-align: left;
			position: relative;
			&:hover{
				.submenu{
					display: block;
				}
			}
		}
	}
	
	.submenu{
		background-color: $body-bg-color;
		border: 1px solid $border-color;
		display: none;
		position: absolute;
		width: max-content;
		z-index: 1111;
		padding: 10px;
		border-radius: 10px;
	}
}

.menu-shortcut{
	float: right;
	color: $secondary-text-color;
	margin-left: 30px;
}

.submenu-separator{
	display: block;
	height: 1px;
	width: 100%;
	background-color: $border-color;
	margin: 4px 0;
}