// Google font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Sans+Pro:wght@300;400&display=swap');

// VARIABLES
//colors
$body-bg-color: #fff;
$box-bg-color: #f2f2f2;

$main-accent-color: #FF7F50;
$secondary-accent-color: #5F9EA0;

$main-text-color: #000;
$secondary-text-color: #3e3e3e;

//dark mode colors (comment it if no dark mode on the site)
@media (prefers-color-scheme: dark){
	$body-bg-color: #0d1117;
	$box-bg-color: #161b22;
	$border-color: #262b32;

	$main-text-color: #fff;
	$secondary-text-color: #747c85;
}

//sizes
$blank-space: 20px;
$border-radius: 20px;

//fonts
$title-font: 'Montserrat', sans-serif;
$plain-text-font: 'Source Sans Pro', sans-serif;

// Reset css
*, *::before, *::after{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body, h1, h2, h3, h4, p, figure, blockquote, dl, dd{
    margin: 0;
	padding: 0;
	font-family: $plain-text-font;
	color: $main-text-color;
}

h1, h2, h3, h4{
	font-family: $title-font;
	font-weight: 500;
}

ul, ol{
    list-style-type: none;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
	background-color: $body-bg-color;
}

img, picture {
	max-width: 100%;
	display: block;
}

input, button, textarea, select {
    font: inherit;

    &:hover{
        cursor: pointer;
    }
}

button{
	font-weight: 400;
	font-family: $plain-text-font;
}

a{
	text-decoration: none;
	color: inherit;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
	 scroll-behavior: auto;
	}
	
	*, *::before, *::after {
	  animation-duration: 0.01ms !important;
	  animation-iteration-count: 1 !important;
	  transition-duration: 0.01ms !important;
	  scroll-behavior: auto !important;
	}
}

// Css content